<CONFIG>
 <ROOTFOLDER value="/mnt/sdcard/lgpt" />
 <SAMPLELIB value="/mnt/sdcard/lgpt/samples" />
 <INSTRUMENTFOLDER value="/mnt/sdcard/lgpt/instruments" />
 <AUDIOAPI value="libretro" />
 <AUDIODEVICE value="picoarch" />
 <AUDIOBUFFERSIZE value="1024" />
 <AUDIOPREBUFFERCOUNT value="8" />
 <AUTO_LOAD_LAST value="NO" />
 <BACKGROUND value="0A0A18" />
 <FOREGROUND value="E8E4F8" />
 <BORDER value="3F5FBF" />
 <SONGVIEW_FE value="2A3E8F" />
 <SONGVIEW_00 value="1E2B66" />
 <HICOLOR1 value="5B8CFF" />
 <HICOLOR2 value="9D5BFF" />
 <CURSORCOLOR value="7FB8FF" />
 <PLAYCOLOR value="4AD8FF" />
 <RECORDCOLOR value="FF2020" />
 <MUTECOLOR value="E8E4F8" />
 <ROWCOLOR1 value="5A7DF0" />
 <ROWCOLOR2 value="A86BFF" />
 <MAJORBEAT value="5B8CFF" />
</CONFIG>
