<!--
miyoo mini default config:
create folders for your tracks and samples on the
root of your sd card.
-->
<CONFIG>
	<AUTO_LOAD_LAST value="YES"/> <!-- change to disable auto loading -->
    <ROOTFOLDER value="/mnt/SDCARD/Tracks"/>
    <SAMPLELIB value="/mnt/SDCARD/Samples"/>
    <!-- uncomment to dump events to stdout -->
    <!--
    <DUMPEVENT value="YES"/>
    -->
    <!-- uncomment to render -->
    <!--
    <RENDER value="FILE"/>
    -->
    <!-- Default colors below -->
    <!-- Default colors below -->
    <BACKGROUND   value = "0A0A18" />
    <FOREGROUND   value = "E8E4F8" /> <!-- Text and cursor in cursor -->
    <BORDER       value = "3F5FBF" /> <!--Dialog Border-->
    <HICOLOR1     value = "5B8CFF" /> <!-- Highlight color 1 -->
    <HICOLOR2     value = "9D5BFF" /> <!-- Highlight color 2 -->
    <SONGVIEW_FE  value = "2A3E8F" /> <!-- Color of the chain "FE" in song screen-->
    <SONGVIEW_00  value = "1E2B66" /> <!-- Color of the chain "00" in song screen-->
    <CURSORCOLOR   value = "7FB8FF" /> <!--Cursor color-->
    <PLAYCOLOR     value = "4AD8FF" /> <!--Cursor color-->
    <MUTECOLOR    value = "E8E4F8" /> <!-- Text and cursor in cursor -->
    <ROWCOLOR1    value = "5A7DF0" /> <!--Row count color 1 -->
    <ROWCOLOR2    value = "A86BFF" /> <!--Row count color 2-->
    <ALTROWNUMBER value = "4"/>       <!--How many rows of each ROWCOLOR-->
    <FONTTYPE     value = '0' />     <!-- '0':original '1':digital '2':monster 'CUSTOM': load custom_font.xml-->

</CONFIG>
